DGSRestServices/DGSServiceClient/Service References/DGSService/DGSWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16688/DGSWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DGSRestServices.Model.Class" />
  <xs:element name="agentGetInfoService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetInfoServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetInfoServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentFindListService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentFindListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentFindListServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetAgentsListService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="decimasl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trunc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetAgentsListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetAgentsListServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetDistributorService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetDistributorServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetDistributorServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetInfoDistributorService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetInfoDistributorServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetInfoDistributorServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetListService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pridUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetListServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetListByBookService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBook" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetListByBookServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetListByBookServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetNotesService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetNotesServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetNotesServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetPlayersListService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idagent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="decimals" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trunc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCurrency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetPlayersListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetPlayersListServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetPlayersIDService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetPlayersIDServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetPlayersIDServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetStatisticsService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentGetStatisticsServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentGetStatisticsServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentLineTypesGetListService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentLineTypesGetListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentLineTypesGetListServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentLineTypesGetListAddedService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentLineTypesGetListAddedServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentLineTypesGetListAddedServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agentRightsGetListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="agentRightsGetListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentRightsGetListServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAgentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DGSRestServices.Model.Class" minOccurs="0" name="agentModel" nillable="true" type="q1:AgentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAgentServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAgentServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAgentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DGSRestServices.Model.Class" minOccurs="0" name="agentModel" nillable="true" type="q2:AgentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAgentServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAgentServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAgentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAgentServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAgentServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBookService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DGSRestServices.Model.Class" minOccurs="0" name="bookModel" nillable="true" type="q3:BookModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBookServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addBookServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usersGetIDService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usersGetIDServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usersGetIDServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>